<h1>Edit your profile</h1>

<form action="/private/edit/{{profile._id}}" method="post">
{{!-- Get username from req.user --}}
  <input type="hidden" name="username" value="{{username}}">

  <label for="">Name:</label>
  <input type="text" name="name" value="{{profile.name}}">

  <input type="hidden" name="favoriteLeague" value="{{profile.favoriteLeague}}">

  </select>

  <label for="">Favorite team:</label>
  <input type="text" name="favoriteTeam" value="{{profile.favoriteTeam}}">

  <label for="">Avatar:</label>
  <input type="text" name="picture" value="{{profile.picture}}">

  <button type="submit">Update</button>
</form>

<p>Back to <a href="/private-page">Homepage</a></p>