<h1>Edit your profile</h1>

<form action="/private/edit/{{profile._id}}" method="post">
{{!-- Get username from req.user --}}
  <input type="hidden" name="username" value="{{username}}">

  <label for="">Name:</label>
  <input type="text" name="name" value="{{profile.name}}">

  <label for="">Pick your league:</label>
  <select name="favoriteLeague">    

    <option value="Spain">La Liga</option>
    <option value="Italy">Calcio</option>
    <option value="England">Premier League</option>   
  </select>

  <label for="">Favorite team:</label>
  <input type="text" name="favoriteTeam" value="{{profile.favoriteTeam}}">

  <label for="">Avatar:</label>
  <input type="text" name="picture" value="{{profile.picture}}">

  <button type="submit">Update</button>
</form>

<p>Back to <a href="/">Homepage</a></p>