<div class="nav">
    <a href="/">Homepage</a>    
    <a href="/logout">Logout</a> 
</div>
<div>
  <div class="profile-background-div">
{{#if user}}
  <h1>Hello, {{user.username}}!</h1>

   
   <h3>Your profiles:</h3>
{{#if profiles}}
  <div class='my-profile'>
  {{#each profiles}}
    <div class="profile-box">
    <ul>
      <li><img src="{{this.picture}}" alt="avatar picture"> </li>
      <a href="/teams/roster"><h4>{{this.name}}</h4></a>
      <li>Favorite team: {{this.favoriteTeam}}
    </ul>
    <div class="profile-box-buttons-div">
      <button type="button" class="btn btn-success"><a href="/private/edit/{{this._id}}" class="edit-button">Edit profile</a></button>
        <form action="/private/delete/{{this._id}}" method="POST">
          <button>Delete Profile</button>
        </form>
    </div>
    </div>
  {{/each}}
  </div>
{{else}}
  <p>You don't have any profiles yet.</p>
{{/if}}
  <br><br>
  <a href="/private/create-profile">Create Profile</a>
{{/if}}



  </div>
</div>