
<div class="nav">
  <div>
    <a href="/private-page">Homepage</a>    
  </div>
  <div>
    <a href="/private/create-profile">Create Profile</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>
<div>
<div class="profile-background-div">

{{!-- section 1 --}}
  <div class="section1">
    {{!-- left side avatar --}}
    <div class="avatar-side">
      <div class="avatar-photo">
        <img src="{{profile.picture}}" alt="avatar picture" class="avatar-picture-details">
      </div>
      <div>
        {{profile.name}}
      </div>
      <div>
        {{profile.favoriteLeague}}
      </div>
 
    </div>
    {{!-- middle side --}}
    <div class="middle-side">
      <div class="selected-team-card">
        <div class="selected-team"> <img src="{{team.[0].crestUrl}}" alt="{{profile.name}} logo" class="selected-team-logo"></div>
        <div class="selected-team-info">
          <h3>{{profile.favoriteTeam}}</h3>
          <h6>Venue: {{team.[0].venue}}</h6>
          <h6>Foundation year: {{team.[0].founded}}</h6>  
          <h6>website: <a target='_blank' href='{{team.[0].website}}'>{{team.[0].website}}</a></h6>
        </div>
      </div>
    </div>
    {{!-- right side --}}
    <div class="right-side">
          
      <div><a target='_blank' href="/standings/{{profile.favoriteLeague}}">League standings in {{profile.favoriteLeague}}</a></div>
      <div><a target='_blank' href="/scorers/{{profile.favoriteLeague}}">Top scorers in {{profile.favoriteLeague}}</a></div>
    </div>
  </div>

<div class="news-div">
  {{!-- <div id='div1'></div> --}}
</div>
</div>


{{!-- <script src="javascripts/news.js"></script> --}}










 